.select-custom {
  outline: 0;
  border: 0;
  background: none;
  min-width: 160px;
  max-width: 160px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #080433;
  display: flex;
  align-items: center;
  svg {
    fill: #080433;
  }
  @media (max-width: 374px) {
    min-width: 125px;
    max-width: 125px;
    font-size: 14px;
    line-height: 22px;
  }

  &--top {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    min-width: 92px;
    max-width: 92px;
    svg {
      transform: scale(0.9);
    }
  }

  .css-x50rsm-control,
  .css-qfr9n1-control {
    border: 0 !important;
    box-shadow: none !important;
    div {
      padding: 0 !important;
    }
    .css-1gtu0rj-indicatorContainer:nth-of-type(1),
    .css-tlfecz-indicatorContainer:nth-of-type(1),
    .css-1okebmr-indicatorSeparator {
      display: none;
    }
  }
}
