.card-order {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background: #e6e7eb;
  border-radius: 10px;
  height: 110px;
  position: relative;
  width: 100%;
  padding: 10px 10px 7px;
  &--new {
    background: #080433;
    .card-order__number {
      color: #fdfdfe;
    }
  }
  &--accept {
    background: #1be39b;

    .card-order__price {
      display: flex;
    }
    .card-order__new {
      display: none;
    }
    .card-order__time {
      color: #e6e7eb;
    }
    .card-order__number {
      color: #fdfdfe;
    }
  }
  &--witer-status-2,
  &--witer-status-1,
  &--ready-order {
    background: #f9a926;
    .card-order__number {
      color: #fdfdfe;
    }
    .card-order__time {
      color: #e6e7eb;
    }
  }
  &--ready-order {
    .card-order__additionally {
      display: none;
    }
  }

  &--ready-order-time {
    animation: mymove 1s infinite;
    @keyframes mymove {
      0% {
        background-color: #df3838;
      }
      50% {
        background-color: rgb(167, 0, 0);
      }
      100% {
        background-color: #e94242;
      }
    }
  }

  &--red {
    background: #df3838;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
  }
  &__new {
    display: flex;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #d0ff15;
    margin-bottom: 3px;
  }
  &__payment-svg {
    width: 22px;
    height: 22px;
    margin-bottom: 1px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #a8b0c0;
    padding-right: 7px;
  }
  &__guests {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #fdfdfe;
    margin-bottom: 4px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    grid-gap: 4px;
    img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(2%)
        saturate(7500%) hue-rotate(192deg) brightness(123%) contrast(100%);
    }
  }
  &__top {
    justify-content: space-between;
    display: flex;
    height: 100%;
    align-items: flex-start;
  }
  &__time {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #a8b0c0;
    white-space: nowrap;

    @media (max-width: 374px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__price {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #080433;
    white-space: nowrap;
    display: none;
    align-items: center;
    grid-gap: 4px;
    @media (max-width: 374px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__additionally {
    display: flex;
    grid-gap: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #080433;
    right: 1px;
    bottom: 0px;
    position: absolute;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  &__number {
    font-weight: 600;
    font-size: 46px;
    line-height: 46px;
    color: #a8b0c0;
    white-space: nowrap;

    @media (max-width: 389px) {
      font-size: 40px;
      line-height: 40px;
    }
    @media (max-width: 374px) {
      font-size: 27px;
      line-height: 27px;
    }
  }
  &__inner-button {
    padding: 14px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-bottom: 1px solid #d0d3dc;
    background: none;
    width: 100%;
    color: #080433;
  }
  &__inner-box {
    display: flex;
    padding: 9px 15px;
    justify-content: space-between;
    @media (max-width: 374px) {
      padding: 9px 7px;
    }
  }
  &__inner {
    background: #fdfdfe;
    border-radius: 10px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 94%;
    left: 0;
    z-index: 1;
    filter: drop-shadow(0px 50px 100px rgba(0, 0, 0, 0.15));
    &::after {
      content: "";
      position: absolute;
      top: -8px;
      width: 20px;
      height: 10px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='8' viewBox='0 0 20 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.75736 2.24264C8.10051 -0.10051 11.8995 -0.100505 14.2426 2.24264L20 8H0L5.75736 2.24264Z' fill='%23FDFDFE'/%3e%3c/svg%3e ");
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__ready-cook {
    display: flex;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #ff1515;
    margin-bottom: 3px;
  }
  &--ready-cook {
    .card-order__block,
    .card-order__new {
      display: none;
    }
  }
}

.card-cook {
  min-height: 68px;
  padding: 11px 20px;
  position: relative;
  background: #e6e7eb;
  border-radius: 20px;
  &.active {
    background: #b2c235;
    .card-cook__foundation {
      color: #080433;
    }
  }
  &--comment {
    background: #a8b0c0;
    border-radius: 20px;
    .card-cook__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
    }
  }
  &--ready-cook {
    background: #3b185f;
  }
  &__text {
    color: #080433;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  &__foundation {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #b3b3b3;
  }
  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;

    @media (max-width: 575px) {
      width: 100%;
    }
  }
}
